{% extends "base.html" %}

{% load wagtailcore_tags static %}

{% block body_class %}profile-page sidebar-collapse{% endblock %}

{% block content %}
   <div class="page-header header-filter" data-parallax="true" style="background-image: url('{% static '/assets/img/bg2.jpg' %}')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>{{page.title}}</h1>
          </div>
        </div>
      </div>
    </div>
   </div>
    <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
            <div>
          {{ page.body }}
        </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
{#    <h1>{{page.title}}</h1>#}
{#    {{ page.body}}#}
{#    <p><a href="{{page.get_parent.url}}">Regresar</a> </p>#}
{% endblock %}

