{% extends "base.html" %}

{% load home_tags wagtailcore_tags static %}

{% block body_class %}landing-page sidebar-collapse{% endblock %}

{% block menu %}
    {% get_site_root as site_root %}
    {% top_menu parent=site_root calling_page=self %}
{% endblock %}

{% block content %}
      <div class="page-header header-filter" data-parallax="true" style="background-image: url('{% static '/assets/img/bg.jpg' %}')">

  <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">Bienvenido a la comunidad!</h1>
          <h4 title="pip install paraguay"><code class="code-header">from paraguay import community</code></h4>
          <br>
{#          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">#}
{#            <i class="fa fa-play"></i> Watch video#}
{#          </a>#}
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
      <div class="row">
        <div class="col-md-5 ml-auto mr-auto">
            <h2 class="title">¿Qué es Python?</h2>
            <p class="description text-justify">Python es un lenguaje de programación interpretado, de tipado dinámico y 
            multiplataforma, cuya filosofía hace hincapié en una sintaxis que favorezca un código legible. 
            Es también multiparadigma, ya que soporta orientación a objetos, programación imperativa y programación 
            funcional. Es sencillo de aprender, y muchos programadores Python reconocen un sustancial aumento en su 
            productividad además de sentir que el lenguaje mismo los incentiva al desarrollo de código de mayor calidad. 
            Está disponible en múltiples plataformas, desde una PC hasta teléfonos celulares, y muchos sitios de Internet 
            utilizan Python como soporte de sus servicios</p>
        </div>
         <div class="col-md-5 ml-auto mr-auto">
            <h2 class="title">La Comunidad</h2>
            <p class="description text-justify">Las comunidades de Python están presentes en todo el mundo, con el objeto de 
            apoyar a los usuarios de este lenguaje y difundirlo. En Paraguay lo conforman un grupo de entusiastas de Python, 
            que creemos que podemos sumar ganas y esfuerzo para lograr difundir y ayudar a toda aquella persona que se interese 
            por Python a crecer dentro de sus intereses. Entre las funciones de la comunidad organizamos eventos de distinto tipo 
            para difundir el lenguaje, desde PyDay, meetup hasta simples reuniones para comentar ideas y experiencias.</p>
        </div>
      </div>
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Aca van a ir las Secciones</h2>
            <h5 class="description">Muchas cosas se pueden poner acá especialmente una descipción rápida.</h5>
          </div>
        </div>
        <div class="features">
          <div class="row">
            <div class="col-md-4">
              <div class="info">
              <a href="/blog/">
                <div class="icon icon-info">
                  <i class="material-icons">chat</i>
                </div>
                <h4 class="info-title">Blog!</h4>
                <p>Super blog va aca con descipcion bla bla.</p>
              </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <i class="material-icons">work_outline</i>
                </div>
                <h4 class="info-title">Bolsa de Trabajo</h4>
                <p>Seccion en construccion.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
              <a href="/tutoriales/">
                <div class="icon icon-danger">
                  <i class="material-icons">code</i>
                </div>
                <h4 class="info-title">Tutoriales</h4>
                <p>Aca van a ir varios tutoriales.</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section text-center" style="padding-top:5px">
        <h2 class="title">Novedades</h2>
        <div class="team">
          <div class="row">
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="{%  static "/assets/img/logo-intro.png" %}" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Articulo1
                    <br>
                    <small class="card-description text-muted">Model</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">Placeholder, mas adelante hacer un wagtail blog block .</p>
                  </div>
                  <div class="card-footer justify-content-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="{%  static "/assets/img/logo-intro.png" %}" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Post 2
                    <br>
                    <small class="card-description text-muted">Designer</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">Placeholder, mas adelante hacer un wagtail blog block .Placeholder, mas adelante hacer un wagtail blog block .Placeholder, mas adelante hacer un wagtail blog block .</p>
                  </div>
                  <div class="card-footer justify-content-center">
                   a
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="{%  static "/assets/img/logo-intro.png" %}" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Articulo 3
                    <br>
                    <small class="card-description text-muted">Model</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">Placeholder, mas adelante hacer un wagtail blog block .Placeholder, mas adelante hacer un wagtail blog block ..</p>
                  </div>
                  <div class="card-footer justify-content-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
