{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}profile-page sidebar-collapse{% endblock %}

{% block content %}
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('{% static '/assets/img/bg.jpg' %}')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>{{page.title}}</h1>
          </div>
        </div>
      </div>
    </div>
   </div>
    <div class="main main-raised">
    <div class="container">
    <div class="section">
    <h1 class="title">{{page.title}}</h1>
    <p class="meta"> {{page.date}}</p>
    <div class="intro">{{page.excerpt}}</div>

    {{page.body}}
    {% for item in page.gallery_images.all %}
        <div style="float: left; margin:10px">
            {% image item.image original as original%}
            <a href="{{original.url}}"> {% image item.image fill-320x240 %}</a>
            <p>{{item.caption}}</p>
        </div>
    {% endfor  %}

    {% if page.tags.all.count %}
    <div class="tags">
        <h3>Tags</h3>
        {% for tag in page.tags.all %}
            <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
        {% endfor %}
    </div>
{% endif %}
    <p><a href="{{page.get_parent.url}}">Return to blog</a> </p>
     </div>
    </div>
  </div>
{% endblock %}