<footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="https://pythonpy.org">
              Python Paraguay
            </a>
          </li>
          <li>
            <a href="/acerca-de/">
              Acerca de
            </a>
          </li>
          <li>
            <a href="/blog/">
              Blog
            </a>
          </li>
          <li>
            <a href="https://github.com/pythonparaguay">
              Github
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, powered by <a href="https://wagtail.io/" target="_blank">Wagtail</a>
          / <a href="https://wagtail.io/" target="_blank">Django</a>
      </div>
    </div>

  </footer>


